body {
    font-family: sans-serif;
    color: #333;
  }
  
  h1 {
    font-size: 2em;
    margin-top: 0;
  }
  
  p {
    margin-bottom: 1em;
  }
  
  form {
    margin-top: 2em;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  input[type="submit"] {
    background-color: #000;
    color: #fff;
  }
  
